@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255 0 0;

    --android-background: 254 0 0;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: 0 0 255;

      --android-background: 1 1 255;
    }
  }
}
